{% extends "base.html" %} 
{% block content %}

<button
  type="button"
  class="inline-block px-6 py-3 mr-3 font-bold text-center uppercase align-middle transition-all bg-transparent border rounded-lg cursor-pointer border-fuchsia-500 leading-pro text-size-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 hover:scale-102 active:opacity-85 hover:shadow-soft-xs text-fuchsia-500"
>
  <a href="{% url 'files:file-list' %}"> Dosyalara geri dön</a>
</button>
<br />
<h1
  class="py-2.2-em px-3.6-em text-size-xs-em rounded-1.8 inline-block whitespace-nowrap text-center bg-slate-650 text-slate-750 align-baseline font-bold uppercase leading-none"
>
  Yeni dosya oluştur.
</h1>
<div class="container bg-slate-200">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div>
    <label for="id_dosya_no">Dosya no:</label>
    <input
      type="text"
      name="dosya_no"
      min="0"
      max="9999999999"
      placeholder="Dosya No"
      class="focus:shadow-soft-primary-outline text-size-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none"
      required=""
      id="id_dosya_no"
    />
    <label for="id_basvuran">Basvuran:</label>

    <input
      type="text"
      name="basvuran"
      id="id_basvuran"
      placeholder="Başvuran"
      maxlength="30"
      class="focus:shadow-soft-primary-outline text-size-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none"
    />

    {% comment %} <label for="id_basvurulan">Basvurulan:</label>

    <input
      type="text"
      name="basvurulan"
      id="id_basvurulan"
      placeholder="Başvurulan"
      maxlength="30"
      class="focus:shadow-soft-primary-outline text-size-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none"
    /> {% endcomment %}


 <label for="id_basvurulan">Davalı:</label>   
    <select class="focus:shadow-soft-primary-outline text-size-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none" name="davali" id="id_davali">

  <option value="" selected>--------</option>
    {% for davalı in davalılar %}
           
      <option value="{{davalı.0}}">{{davalı.1}}</option>
     
    {% endfor %}

    </select>















    <label for="id_plaka">Plaka:</label>

    <input
      type="text"
      name="plaka"
      id="id_plaka"
      maxlength="10"
      placeholder="Plaka"
      maxlength="30"
      class="focus:shadow-soft-primary-outline text-size-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none"
    />

    <div class="py-2">
      <label for="id_basvuru_konusu">Basvuru konusu:</label>
      <select
        class="focus:shadow-soft-primary-outline text-size-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none"
        name="basvuru_konusu"
        id="id_basvuru_konusu"
      >
        <option value="" selected>--------</option>
        {% for basvuru_konusu in basvuru_konuları %}

        <option value="{{basvuru_konusu.0}}">{{basvuru_konusu.1}}</option>
        {% endfor %}
      </select>
    </div>



    <div class=" flex py-2">
      <label for="id_kaza_tarihi">Kaza Tarihi:</label>
      <br>
      <input
        type="date"
        name="kaza_tarihi"
        id="id_kaza_tarihi"
        placeholder="Kaza Tarihi"
        class="focus:shadow-soft-primary-outline text-size-sm leading-5.6 ease-soft  inline-block  w-1/4    appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none"
      />

      <label for="id_dosya_durumu"> Dosya durumu:</label>

      <select
        class="focus:shadow-soft-primary-outline text-size-sm leading-5.6 ease-soft inline-block w-1/4 appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none"
        name="dosya_durumu"
        id="id_dosya_durumu"
      >
        <option value="" selected>--------</option>
        {% for dosya_durumu in dosya_durumları %}

        <option value="{{dosya_durumu.0}}">{{dosya_durumu.1}}</option>
        {% endfor %}
      </select>
    </div>
      <div class="flex py-2">
        <label for="id_dava_tarihi">Dava tarihi:</label>

      <input
        type="date"
        name="dava_tarihi"
        id="id_dava_tarihi"
        placeholder="Dava Tarihi"
        class="focus:shadow-soft-primary-outline text-size-sm leading-5.6 ease-soft inline-block w-1/4 appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none"
      />
      

      <label for="id_lawyer"> İşlem Yapan:</label>

      <select
        name="lawyer"
        required=""
        id="id_lawyer"
        class="focus:shadow-soft-primary-outline text-size-sm leading-5.6 ease-soft inline-block w-1/4 appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none"
      >
        <option value="" selected="">---------</option>
        {% for lawyer in lawyers %}
        <option value="{{lawyer.id}}">{{lawyer.user}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div>
    <label for="id_image">Dosya:</label>
    <input type="file" name="image" multiple="" id="id_image" />
  </div>
  <br />
  <button
    type="submit"
    class="inline-block px-6 py-3 mr-3 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer bg-gradient-fuchsia leading-pro text-size-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 hover:scale-102 active:opacity-85 hover:shadow-soft-xs"
  >
    Yükle
  </button>
</form>
</div>

{% endblock content %}
