{% extends "base.html" %} {% block content %}

<section class="flex flex-wrap -mx-3">
  <div class="flex-none w-full max-w-full px-3">
    <div
      class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200"
    >
      <div>
        <h1 class="text-4xl text-gray-800">Dosyalar</h1>
      </div>
      <div>
        <a
          class="text-gray-550 hover:text-blue-500"
          href="{% url 'files:File_create'%}"
        >
          Yeni dosya yükle</a
        >
      </div>
    </div>

    <div class="tracking-wider leading-normal " >
      <!--Container-->
      <div class="container">
        <!--Card-->
        <div id="recipients" class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
          <table
            id="example"
            class="stripe hover"
            style="width: 100%; padding-top: 1em; padding-bottom: 1em"
          >
            <thead>
              <tr>
                <th data-priority="0">Id</th>
                <th data-priority="1">Dosya No</th>
                <th data-priority="2">Başvuran</th>
                <th data-priority="3">Davalı</th>
                <th data-priority="4">Plaka</th>
                <th data-priority="5">Başvuru Konusu</th>
                <th data-priority="6">Kaza Tarihi</th>
                <th data-priority="7">Dava Tarihi</th>
                <th data-priority="8">Dosya Durumu</th>  
                <th data-priority="9">İşlem Yapan</th>  
                <th data-priority="10"><span class="sr-only">Edit</span></th>
              </tr>
            </thead>
            <tbody>
              {% for file in files%}
              <tr>
                <td>{{file.id}}</td>
                <td>{{file.dosya_no}}</td>
                <td>{{file.basvuran}}</td>
                <td>{{file.get_davali_display}}</td>
                <td>{{file.plaka}}</td>


                <td>{{file.get_basvuru_konusu_display}}</td>

                <td>{{file.kaza_tarihi|date:"d/m/y"}}</td>

                <td>{{file.dava_tarihi|date:"d/m/y"}}</td>


                <td>{{file.get_dosya_durumu_display}}</td>

                <td>{{file.lawyer.user.username}}</td>


                <td>
                  <a
                    href="{% url 'files:filedetail' file.id %}"
                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                    >Edit</a
                  >
                </td>
              </tr>

              <!-- Rest of your data (refer to https://datatables.net/examples/server_side/ for server side processing)-->

              {% endfor %}
            </tbody>
          </table>
        </div>
        <!--/Card-->
      </div>
      <!--/container-->
    </div>
  </div>
</section>
{% endblock content %}
